{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block body %}
    {% include 'GYGAppBundle::_partials/menu_admin.html.twig' %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {%if label == 'error'%}
                {% set label = 'danger' %}
            {% else %}
                {% set label = 'success' %}
            {%endif%}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: false,
                imageRootFolder: '{{ asset('') }}img/',
                backend: true
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);


            var checkHashTag = function() {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                var hash = window.location.hash.substring(1);
                switch(hash) {
                    case 'point-apport':
                        $.ajax({
                            url: "{{ path('gyg_app_api_point_apport') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'pointapport');
                                }
                            });
                        });
                        break;

                    case 'trajet':
                    $.ajax({
                        url: "{{ path('gyg_app_api_trajet') }}"
                    }).done(function(data) {
                        data.forEach(function(item, index, array) {
                            if(item.geoJson) {
                                DrawOnMap.setData(drawingOverlay, item, 'trajet');
                            }
                        });
                    });
                    break;

                    case 'dechet-soin':
                        $.ajax({
                            url: "{{ path('gyg_app_api_dechet_soin') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'dechetsoin');
                                }
                            });
                        });
                        break;

                    case 'textile':
                        $.ajax({
                            url: "{{ path('gyg_app_api_textile') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'textile');
                                }
                            });
                        });
                        break;

                    case 'dechetterie':
                        $.ajax({
                            url: "{{ path('gyg_app_api_dechetterie') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'dechetterie');
                                }
                            });
                        });
                        break;

                    case 'trajet':
                        $.ajax({
                            url: "{{ path('gyg_app_api_trajet') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'trajet');
                                }
                            });
                        });
                        break;

                    default:
                        $.ajax({
                            url: "{{ path('gyg_app_api_point_apport') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'pointapport');
                                }
                            });
                        });

                        $.ajax({
                            url: "{{ path('gyg_app_api_trajet') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'trajet');
                                }
                            });
                        });

                        $.ajax({
                            url: "{{ path('gyg_app_api_dechet_soin') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'dechetsoin');
                                }
                            });
                        });

                        $.ajax({
                            url: "{{ path('gyg_app_api_textile') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'textile');
                                }
                            });
                        });

                        $.ajax({
                            url: "{{ path('gyg_app_api_dechetterie') }}"
                        }).done(function(data) {
                            data.forEach(function(item, index, array) {
                                if(item.geoJson) {
                                    DrawOnMap.setData(drawingOverlay, item, 'dechetterie');
                                }
                            });
                        });
                        break;
                }
            }

            window.onhashchange = function() {
                checkHashTag();
            };
            checkHashTag();

        })();
    </script>
{% endblock %}