{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block body %}
    {% include 'GYGAppBundle::_partials/menu_admin.html.twig' %}
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            <div class="alert alert-{{ label }}">
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: false
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            $.ajax({
                url: "{{ path('gyg_app_api_point_apport') }}"
            }).done(function(data) {
                data.forEach(function(item, index, array) {
                    if(item.geoJson) {
                        DrawOnMap.setData(drawingOverlay, item, 'pointapport');
                    }
                });
            });

            $.ajax({
                url: "{{ path('gyg_app_api_trajet') }}"
            }).done(function(data) {
                data.forEach(function(item, index, array) {
                    if(item.geoJson) {
                        DrawOnMap.setData(drawingOverlay, item, 'trajet');
                    }
                });
            });

            DrawOnMap.geolocation(drawingOverlay);

        })();
    </script>
{% endblock %}