{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block body %}
    {% include 'GYGAppBundle::_partials/menu.html.twig' %}
    <div class="well address-field">
        <input type="text" id="address" placeholder="123 Rue Dupont 01000 Bourg-en-Bresse"/>
    </div>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var allDisplay = function() {
                $.ajax({
                    url: "{{ path('gyg_app_api_point_apport') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'pointapport');
                        }
                    });
                });

                $.ajax({
                    url: "{{ path('gyg_app_api_trajet') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'trajet');
                        }
                    });
                });

                $.ajax({
                    url: "{{ path('gyg_app_api_dechet_soin') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'dechetsoin');
                        }
                    });
                });

                $.ajax({
                    url: "{{ path('gyg_app_api_textile') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'textile');
                        }
                    });
                });

                $.ajax({
                    url: "{{ path('gyg_app_api_dechetterie') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'dechetterie');
                        }
                    });
                });
            };

            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: false,
                imageRootFolder: '{{ asset('') }}img/'
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            DrawOnMap.geolocation(drawingOverlay);

            $('#address').on('keypress', function(e) {
                //if key pressed = enter
                if(e.which == 13) {
                    DrawOnMap.getLocalisationFromAddress(drawingOverlay, $('#address').val());
                }
            });

            $('#dechet_menu input[type=checkbox]').on('change', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                var firstChecked = $('#dechet_menu input[type=checkbox]:checked')[0];
                var checked = $('#dechet_menu input[type=checkbox]:checked');

                var typeOfDechet = $(firstChecked).attr('value');
                $.ajax({
                    url: "{{ path('gyg_app_api_point_apport') }}?dechetType=" + typeOfDechet
                }).done(function(data) {
                    $.each(data, function(index, compatiblePointApport) {
                        var dechetsForPointApport = [];
                        var compatible = true;
                        $.each(compatiblePointApport.dechets, function(index, dechetObj) {
                            dechetsForPointApport.push(dechetObj.type);
                        });

                        $.each(checked, function(index, checkbox) {
                            checkbox = $(checkbox);
                            if(dechetsForPointApport.indexOf(checkbox.attr('value')) == -1) compatible = false;
                        });


                        if(compatible && compatiblePointApport.geoJson) {
                            DrawOnMap.setData(drawingOverlay, compatiblePointApport, 'pointapport');
                        }
                    });
                });
            })

            $('#filter-dechet-soin').on('click', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                $.ajax({
                    url: "{{ path('gyg_app_api_dechet_soin') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'dechetsoin');
                        }
                    });
                });
            });

            $('#filter-dechetterie').on('click', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                $.ajax({
                    url: "{{ path('gyg_app_api_dechetterie') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'dechetterie');
                        }
                    });
                });

            });

            $('#filter-textile').on('click', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                $.ajax({
                    url: "{{ path('gyg_app_api_textile') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'textile');
                        }
                    });
                });

            });

            $('#filter-trajet').on('click', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                $.ajax({
                    url: "{{ path('gyg_app_api_trajet') }}"
                }).done(function(data) {
                    data.forEach(function(item, index, array) {
                        if(item.geoJson) {
                            DrawOnMap.setData(drawingOverlay, item, 'trajet');
                        }
                    });
                });

            });

            $('#filter-reset').on('click', function(e) {
                DrawOnMap.removeAllFeatures(drawingOverlay);
                allDisplay();
            });

            allDisplay();

        })();
    </script>
{% endblock %}