{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script src="{{ asset('bundles/gygapp/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ parent() }}
    <button id="btn-map-confirm">Confirmer la position</button>

    <h2>Formulaire Point d'Apport</h2>

    <div class="formulaire">
        <form action="{{ path('gyg_app_add_point_apport') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: true,
                drawType: DrawOnMap.drawingOptions.point,
                singleDrawMode: true
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            $('#btn-map-confirm').on('click', function(){
                $('#gyg_appbundle_pointapport_geojson').val(DrawOnMap.getData(drawingOverlay));
            });
        })();
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        var $container = $('div#gyg_appbundle_pointapport_dechets');

        // On ajoute un lien pour ajouter un nouveau dechet
        var $addLink = $('<a href="#" id="add_dechet" class="btn btn-default">Ajouter un type déchet</a>');
        $container.append($addLink);

        // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
        $addLink.click(function(e) {
            addDechet($container);
            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });

        // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
        var index = $container.find(':input').length;

        // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un.
        if (index == 0) {
            addDechet($container);
        } else {
            // Pour chaque dechet déjà existant, on ajoute un lien de suppression
            $container.children('div').each(function() {
                addDeleteLink($(this));
            });
        }

        // La fonction qui ajoute un formulaire Déchet
        function addDechet($container) {
            // Dans le contenu de l'attribut « data-prototype », on remplace :
            // - le texte "__name__label__" qu'il contient par le label du champ
            // - le texte "__name__" qu'il contient par le numéro du champ
            var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, '')
                    .replace(/__name__/g, ''));

            // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
            addDeleteLink($prototype);

            // On ajoute le prototype modifié à la fin de la balise <div>
            $container.append($prototype);

            // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
            index++;
        }

        // La fonction qui ajoute un lien de suppression d'un dechet
        function addDeleteLink($prototype) {
            if(index == 0) return;
            // Création du lien
            $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

            // Ajout du lien
            $prototype.append($deleteLink);

            // Ajout du listener sur le clic du lien
            $deleteLink.click(function(e) {
                $prototype.remove();
                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                index--;
                return false;
            });
        }
    });
</script>

{% endblock %}