{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script src="{{ asset('bundles/gygapp/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <h2>Formulaire Point d'Apport</h2>

    {{ parent() }}

    <div class="formulaire">
        <form   {% if pointApport is defined %} action="{{ path('gyg_app_edit_point_apport', {'idPointApport': pointApport.id}) }}"
        {% else %} action="{{ path('gyg_app_edit_point_apport') }}"
        {% endif %}
                method="post"
                {{ form_enctype(form) }}>
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: true,
                drawType: DrawOnMap.drawingOptions.point,
                singleDrawMode: true
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            $('#edit-textile form').on('submit', function(){
                $('#gyg_appbundle_textile_geojson').val(DrawOnMap.getData(drawingOverlay));
            });
        })();
    </script>
{% endblock %}