{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/fileinput.min.css') }}" />
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script src="{{ asset('bundles/gygapp/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/fileinput_locale_fr.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ include('GYGAppBundle::_partials/menu_admin.html.twig') }}
    <div id="admin-form">
        {% if not form.vars.valid %}
        <div class="alert alert-danger" role="alert">{{ form_errors(form) }}</div>
        {% endif %}

        <h2>{{ formTitle }}</h2>
        {{ parent() }}
        <div class="col-md-10< col-centered">
            <form class="form" action="{{ formAction }}" method="post"{{ form_enctype(form) }}>
                {{ form_widget(form) }}
            </form>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: true,
                drawType: DrawOnMap.drawingOptions.point,
                singleDrawMode: true
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            {% if routeToApi is defined %}
            $.ajax({
                url: "{{ path(routeToApi) }}?id={{ elementToEdit.id }}"
            }).done(function(item) {
                if(item.geoJson) {
                    DrawOnMap.setData(drawingOverlay, item, '');
                }
            });
            {% endif %}

            $('#admin-form form').on('submit', function(){
                $('#admin-form .geojson-value').val(DrawOnMap.getData(drawingOverlay));
            });

            $('#gyg_appbundle_pointapport_filePhoto').fileinput({'showUpload':false, 'previewFileType':'image', 'language':'fr'});
        })();
    </script>
{% endblock %}