{% extends 'GYGAppBundle::_partials/map.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts_header %}
    {{ parent() }}
    <script src="{{ asset('bundles/gygapp/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
    {{ include('GYGAppBundle::_partials/menu_admin.html.twig') }}
    <h2>{{ formTitle }}</h2>
    <div class="admin-form">
        {{ parent() }}
        <div class="row">
            <div class="col-md-8 col-centered">
                <form action="{{ formAction }}" method="post"{{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    <script type="text/javascript">
        (function() {
            var startOption = {
                initLat: 581647.9745650819,
                initLong: 5813280.860704543,
                initZoom: 17,
                editable: true,
                drawType: DrawOnMap.drawingOptions.point,
                singleDrawMode: true
            };
            var map;
            var drawingOverlay;

            drawingOverlay = DrawOnMap.initialize(startOption, map);

            $('#edit-textile form').on('submit', function(){
                $('#gyg_appbundle_textile_geojson').val(DrawOnMap.getData(drawingOverlay));
            });

            $('#map').addClass('col-md-6');
        })();
    </script>
{% endblock %}